.site-header{
  padding-top: 15px;
  .active{
    background-color: $yellow;
  }
  .main-navigation {
    margin: 15px 0;
    background: none;
    & ul{
      margin-left: -15px;
      margin-right: -15px;
      & li{
        display: list-item;
        font: 400 14px/14px "Code-Light";
        text-transform: uppercase;
        padding: 20px 2px;
        color: #000000;
        &:hover{
          background-color: $yellow;
        }
        & a{
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
.word-bg{
  display: inline-block;
  font: 400 1.8em/1.2em "CenturyGothic";
  color: $yellow;
  background-color: #403f44;
  text-transform: uppercase;
  padding: 10px 40px 10px 10px;
  margin: 20px 0;
}
@media screen and (min-width: 768px){
  .site-header{
    .main-navigation {
      & ul{
        & li{
          float: left;
          position: relative;
          display: block;
          font: 400 1.5em/1em "Code-Light";
          text-transform: uppercase;
          text-align: center;
          padding: 40px 5px;
          color: #000000;
          &:hover{
            background-color: $yellow;
          }
          & a{
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
}