
.entry-header{
  overflow: hidden;
  .single-article-header{
    background-color: $yellow;
    display: block;
  }
  & .header-description{
    display: block;
    font: 700 1.5em/1.5em $century;
    text-transform: uppercase;
    color: $black;
    padding: 20px 0 10px 20px;
    margin-bottom: 0;
  }
  & .header-info{
    display: block;
    text-align: right;
    margin-top: 0;
    padding: 0 15px 15px 0;
    font: 700 .9em/1em $century;
    background-color: $yellow;
    & a{
      color: inherit;
      text-decoration: none;
    }
  }
  .arrow_box {
    position: relative;

  }
  .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    right: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(213, 130, 66, 0);
    border-bottom-color: $yellow;
    border-width: 15px;
    margin-left: -15px;
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: $yellow;
    border-width: 15px;
    margin-left: -16px;
  }
}
.share-it{
  text-transform: uppercase;
  color: $yellow;
  background-color: #403f46;
  font: 600 1.1em/1em $century;
  padding: 5px 10px;
  margin: 10px 0;
  text-align: center;
  display: inline-block;
  float: left;
}
.social-follow-holder{
  float: right;
  display: inline-block;
  font: 600 .9em/1.3em $century;
  background-color: $yellow;
  width: 60px;
  margin-bottom: 20px;
  margin-left: 30px;
  & .social-follow{
    padding: 5px;
    color: $white;
    background-color: $black;
    display: inline-block;
    width: 30px;
    height: 30px;
    & a{
      color: inherit;
      text-decoration: none;
      &:hover{
        color: $yellow;
      }
    }
  }
}
.widget-single{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
  overflow: hidden;
}
.related-posts-header{
  text-transform: uppercase;
  color: $yellow;
  background-color: #403f46;
  font: 600 1.1em/1em $century;
  padding: 5px 10px;
  margin: 20px 0;
  display: inline-block;
}
.recent-posts-related{
  .rpwe-li{
    h3.rpwe-title{
      background-color: $yellow;
      font: 700 0.9em/1em $century;
      color: $black;
      padding: 10px;
    }
  }
}